.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #68b35c;
  .logo-app {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0px;
  }
  .menu-item {
    font-size: 16px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin: 0px;
  }
}
