.input-wrapper {
  .label {
    font-size: 16px;
    color: #2d2d2d;
    margin: 0px;
    margin-bottom: 6px;
  }

  .input {
    border: 1px grey solid;
    padding: 12px;
    border-radius: 8px;
    outline: 0px;
    width: 100%;
  }
}
